@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}
#container {
    font-family: 'Manrope', sans-serif;
    width: 100%;
}
nav {
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}
#createNews:link {
    margin: 5px 20px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    text-transform: capitalize;
}
#createNews:hover {
    border-radius: 5px;
    box-shadow: none;
    background-color: #95c9e6;
}
h1 {
    text-align: center;
    font-weight: 500;
    margin: 40px 0;
}
header {
    border-bottom: 1px solid #f0efef;
}
#articleContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}
div {
    width: 25%;
    margin: 20px;
}
h4 {
    margin: 20px 0 10px 0;
}
a:link {
    text-decoration: none;
    text-transform: uppercase;
    color: #696969;
    border-bottom: 1px solid;
    font-size: 15px;
    text-align: center;
}
a:hover {
    border-radius: 5px;
    box-shadow: 3px 3px 10px #95c9e6;
    background-color: #95c9e6;
    padding: 5px;
}
form {
    width: 40%;
    padding: 1rem;
    margin: auto;
}
form fieldset {
    border: 1px solid #c1bfbf;
    padding: .3rem;
    margin: 1rem;
    border-radius: 5px;
}
#createBtn {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    border-bottom: 1px solid;
}
#createBtn:hover {
    padding: 6px;
    cursor: pointer;
    background-color: #95c9e6;
    color: black;
    border-color: black;
    box-shadow: 3px 3px 10px #95c9e6;
}